.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  padding-top: 30px;
  padding-left: 30px;
  /* border: 5px purple solid; */
}
.logo {
  height: 45px;
  width: 150px;
  cursor: pointer;
}